{% extends 'base.html.twig' %}

{% block title %}Infos Entreprise{% endblock %}

{% block page_title %}Infos Entreprise{% endblock %}

{% block body %}

    <div class = "container">
        <div class="row">
            <div class="contenu col-xs-12">
                {{ form_start(form, {'action': path('choix_entreprise')}) }}
                {{ form_errors(form) }}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <p>Chercher le nom de votre entreprise :<p>
                            <select name="select_entreprise" class="form-control select_entreprise">
                                <option value="">-- Selectionner l'entreprise --</option>
                                {% for entreprise in entreprises %}
                                    <option value="{{ entreprise.id }}" {{ selectionEntreprise == entreprise.id ? "selected" }}>{{ entreprise.nom }}</option>
                                {% endfor %}
                                <option value="Autre" {{ selectionEntreprise == "Autre" ? "selected" }}>Autre</option>
                            </select>
                    </div>

                    <div class="form-group">
                        <p>Chercher le nom de votre maître de stage :<p>
                            <select name="select_maitre" class="form-control select_maitre {{ selectionEntreprise == "Autre" ? "disable" }}">
                                <option value= "">-- Selectionner le maitre d'apprentissage --</option>
                                {% for maitre in maitres %}
                                    <option value="{{ maitre.compte.id }}" {{ selectionMaitre == maitre.compte.id ? "selected" }}>{{ maitre.compte.prenom ~ ' ' ~ maitre.compte.nom}}</option>
                                {% endfor %}
                                <option value="Autre" {{ selectionMaitre == "Autre" ? "selected" }}>Autre</option>
                            </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-offset-2 col-md-4">
                    <div class = "form-group infos_entreprise {{ (selectionEntreprise == null or selectionEntreprise == "Autre") ? "hide" }}">
                        <p>Adresse de l'entreprise :</p> <p>12 rue des marmottes</p>
                        <p>Code postal de l'entreprise :</p> <p>77720</p>
                        <p>Ville de l'entreprise :</p> <p>Bob</p>
                    </div>
                    <div class="form_entreprise {{ selectionEntreprise != "Autre" ? "hide" }}">
                        <div class="form-group">
                            <p>Informations de l'entreprise :<p>
                                {{ form_row(form.entreprise) }}
                        </div>
                    </div>
                    <div class = "form_maitre {{ (selectionMaitre == null or selectionMaitre != "Autre") ? "hide" }}">
                        <p>Informations du maître de stage :<p>
                            {{ form_row(form.compte) }}
                    </div>
                </div>
                <div class="col-xs-12">
                    {{ form_row(form.enregistrer) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/build/js/entreprise.js"></script>
{% endblock %}