{% extends 'base.html.twig' %}

{% block title %}Page de profil{% endblock %}

{% block page_title %}Profil de {{ user.prenom ~ ' ' ~ user.prenom }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 contenu">
                <p>Prénom : {{ user.prenom }}</p>
                <p>Nom : {{ user.nom }}</p>
                <p>Email : {{ user.email }}</p>
                <p>Dernière connexion : {{ user.lastlogin|date() }}</p>

                {% if apprenti %}
                    <p>Téléphone : {{ apprenti.telephone|default('Non renseigné') }}</p>
                    <p>Adresse : {{ apprenti.adresse|default('Non renseigné') }}</p>
                    <p>Ville : {{ (apprenti.codepostal|default('Non renseigné') ~ ' ' ~ apprenti.ville) }}</p>
                {% elseif maitreapp %}
                    <p>Fonction : {{ maitreapp.telephone }}</p>
                    <p>Téléphone : {{ maitreapp.telephone }}</p>
                    <p>Fax : {{ maitreapp.fax }}</p>
                    <p>Entreprise : {{ maitreapp.entreprise.nom }}</p>
                {% endif %}
                {% if edit %}
                    <a class="btn btn-default" href="{{ path('edition_compte', {'id':user.id}) }}">Editer compte</a>
                {% endif %}
                {% if app.user.id == user.id %}
                    <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    <a class="btn btn-default" href="{{ path('fos_user_change_password') }}">Modification mot de passe</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}