
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Esuivi IUT{% endblock %}

{% block body %}
    <div class="container">
        <div class="contenu">
        <center>
            <a class="btn btn-default" href="{{ path('logauto', {"type":"IUT"}) }}">Connexion en tant que IUT</a><br>
            <a class="btn btn-default" href="{{ path('logauto', {"type":"ADMIN"}) }}">Connexion en tant que IUT ADMIN</a><br>
            <a class="btn btn-default" href="{{ path('logauto', {"type":"APPRENTI"}) }}">Connexion en tant que APPRENTI</a><br>
            <a class="btn btn-default" href="{{ path('logauto', {"type":"CFA"}) }}">Connexion en tant que CFA</a><br>
            <a class="btn btn-default" href="{{ path('logauto', {"type":"MAITRE_APP"}) }}">Connexion en tant que Maitre App</a><br>
            <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">Page de login normale</a>

        </center>
        </div>
    </div>

{% endblock %}
