{# {% form_theme form 'bootstrap_3_layout.html.twig' %} #}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}IUT Paris 13{% endblock %}</title>
  <link rel="icon" type="image/png" href="/build/img/Icone_IUT.png" />
    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="/build/css/bootstrap-custom.css">
      <link rel="stylesheet" type="text/css" href="/build/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/build/css/global.css">
    {% endblock %}
</head>
<body>

{% block menu %}
  <div id="menu">
    <div class="row">
      <div class="col-xs-4 col-sm-3 iut">
        <div class="col-sm-offset-2 logo">
          <a href="{{ path('home') }}">
            <img src="/build/img/Logo_IUT.png" width="160" height="136" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-xs-4 col-sm-6 titre">
        <div class="hidden-xs">
          <h1>{% block page_title %}{% endblock %}</h1>
        </div>
      </div>
      <a href="{{ path('fos_user_security_login')  }}">
        <div class="avatar col-xs-4 col-sm-3 text-center">
          <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 70px;"></span>
          <h5>{% block user %}NOM Prénom{% endblock %}</h5>
        </div>
      </a>
      <div class="col-xs-12 titre visible-xs-block">
        <h1>{{ block('page_title') }}</h1>
      </div>
    </div>
    <div class="row">
      <ul class="navigation">
        <li><a href="{{ path('liste') }}">Liste Apprentis</a></li>
        <li><a href="#">Statistiques</a></li>
        <li><a href="{{ path('choix_ajout') }}">Gestion Comptes</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block body %}{% endblock %}

{% block javascripts %}
  <script src="/build/js/jquery-3.2.1.min.js"></script>
  <script src="/build/bootstrap/js/bootstrap.min.js"></script>
  <script src="/build/js/custom.js"></script>
{% endblock %}
</body>
</html>
