<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 15">
    <meta name=Originator content="Microsoft Word 15">
    <link rel=File-List href="test_fichiers/filelist.xml">
    <title>                      </title>
    <!--[if gte mso 9]><xml>
        <o:DocumentProperties>
            <o:Author>APOGEE</o:Author>
            <o:LastAuthor>Erwan P&#45;-M</o:LastAuthor>
            <o:Revision>2</o:Revision>
            <o:TotalTime>3</o:TotalTime>
            <o:LastPrinted>2009-07-02T08:46:00Z</o:LastPrinted>
            <o:Created>2018-04-17T10:47:00Z</o:Created>
            <o:LastSaved>2018-04-17T10:47:00Z</o:LastSaved>
            <o:Pages>1</o:Pages>
            <o:Words>191</o:Words>
            <o:Characters>1051</o:Characters>
            <o:Company>Universit? Paris 13</o:Company>
            <o:Lines>8</o:Lines>
            <o:Paragraphs>2</o:Paragraphs>
            <o:CharactersWithSpaces>1240</o:CharactersWithSpaces>
            <o:Version>16.00</o:Version>
        </o:DocumentProperties>
        <o:OfficeDocumentSettings>
            <o:TargetScreenSize>800x600</o:TargetScreenSize>
        </o:OfficeDocumentSettings>
    </xml><![endif]-->
    <link rel=themeData href="test_fichiers/themedata.thmx">
    <link rel=colorSchemeMapping href="test_fichiers/colorschememapping.xml">
    <!--[if gte mso 9]><xml>
        <w:WordDocument>
            <w:GrammarState>Clean</w:GrammarState>
            <w:TrackMoves>false</w:TrackMoves>
            <w:TrackFormatting/>
            <w:HyphenationZone>21</w:HyphenationZone>
            <w:DisplayHorizontalDrawingGridEvery>0</w:DisplayHorizontalDrawingGridEvery>
            <w:DisplayVerticalDrawingGridEvery>0</w:DisplayVerticalDrawingGridEvery>
            <w:UseMarginsForDrawingGridOrigin/>
            <w:ValidateAgainstSchemas/>
            <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
            <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
            <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
            <w:DoNotPromoteQF/>
            <w:LidThemeOther>FR</w:LidThemeOther>
            <w:LidThemeAsian>X-NONE</w:LidThemeAsian>
            <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
            <w:Compatibility>
                <w:FootnoteLayoutLikeWW8/>
                <w:ShapeLayoutLikeWW8/>
                <w:AlignTablesRowByRow/>
                <w:ForgetLastTabAlignment/>
                <w:LayoutRawTableWidth/>
                <w:LayoutTableRowsApart/>
                <w:UseWord97LineBreakingRules/>
                <w:SelectEntireFieldWithStartOrEnd/>
                <w:UseWord2002TableStyleRules/>
                <w:UseWord2010TableStyleRules/>
                <w:DontUseIndentAsNumberingTabStop/>
                <w:FELineBreak11/>
                <w:WW11IndentRules/>
                <w:DontAutofitConstrainedTables/>
                <w:AutofitLikeWW11/>
                <w:HangulWidthLikeWW11/>
                <w:UseNormalStyleForList/>
                <w:DontVertAlignCellWithSp/>
                <w:DontBreakConstrainedForcedTables/>
                <w:DontVertAlignInTxbx/>
                <w:Word11KerningPairs/>
                <w:CachedColBalance/>
            </w:Compatibility>
            <w:DocumentVariables>
                <w:__Grammarly_42____i>H4sIAAAAAAAEAKtWckksSQxILCpxzi/NK1GyMqwFAAEhoTITAAAA</w:__Grammarly_42____i>
                <w:__Grammarly_42___1>H4sIAAAAAAAEAKtWcslP9kxRslIyNDY0szAxNjI2sbA0MLCwNDdX0lEKTi0uzszPAykwrAUAXQHbViwAAAA=</w:__Grammarly_42___1>
            </w:DocumentVariables>
            <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
            <m:mathPr>
                <m:mathFont m:val="Cambria Math"/>
                <m:brkBin m:val="before"/>
                <m:brkBinSub m:val="&#45;-"/>
                <m:smallFrac m:val="off"/>
                <m:dispDef/>
                <m:lMargin m:val="0"/>
                <m:rMargin m:val="0"/>
                <m:defJc m:val="centerGroup"/>
                <m:wrapIndent m:val="1440"/>
                <m:intLim m:val="subSup"/>
                <m:naryLim m:val="undOvr"/>
            </m:mathPr></w:WordDocument>
    </xml><![endif]--><!--[if gte mso 9]><xml>
        <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="false"
                        DefSemiHidden="false" DefQFormat="false" DefPriority="99"
                        LatentStyleCount="375">
            <w:LsdException Locked="false" Priority="0" QFormat="true" Name="Normal"/>
            <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 1"/>
            <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"/>
            <w:LsdException Locked="false" Priority="9" SemiHidden="true"
                            UnhideWhenUsed="true" QFormat="true" Name="heading 3"/>
            <w:LsdException Locked="false" Priority="9" SemiHidden="true"
                            UnhideWhenUsed="true" QFormat="true" Name="heading 4"/>
            <w:LsdException Locked="false" Priority="9" SemiHidden="true"
                            UnhideWhenUsed="true" QFormat="true" Name="heading 5"/>
            <w:LsdException Locked="false" Priority="9" SemiHidden="true"
                            UnhideWhenUsed="true" QFormat="true" Name="heading 6"/>
            <w:LsdException Locked="false" Priority="9" SemiHidden="true"
                            UnhideWhenUsed="true" QFormat="true" Name="heading 7"/>
            <w:LsdException Locked="false" Priority="9" SemiHidden="true"
                            UnhideWhenUsed="true" QFormat="true" Name="heading 8"/>
            <w:LsdException Locked="false" Priority="9" SemiHidden="true"
                            UnhideWhenUsed="true" QFormat="true" Name="heading 9"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="index 1"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="index 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="index 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="index 4"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="index 5"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="index 6"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="index 7"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="index 8"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="index 9"/>
            <w:LsdException Locked="false" Priority="39" SemiHidden="true"
                            UnhideWhenUsed="true" Name="toc 1"/>
            <w:LsdException Locked="false" Priority="39" SemiHidden="true"
                            UnhideWhenUsed="true" Name="toc 2"/>
            <w:LsdException Locked="false" Priority="39" SemiHidden="true"
                            UnhideWhenUsed="true" Name="toc 3"/>
            <w:LsdException Locked="false" Priority="39" SemiHidden="true"
                            UnhideWhenUsed="true" Name="toc 4"/>
            <w:LsdException Locked="false" Priority="39" SemiHidden="true"
                            UnhideWhenUsed="true" Name="toc 5"/>
            <w:LsdException Locked="false" Priority="39" SemiHidden="true"
                            UnhideWhenUsed="true" Name="toc 6"/>
            <w:LsdException Locked="false" Priority="39" SemiHidden="true"
                            UnhideWhenUsed="true" Name="toc 7"/>
            <w:LsdException Locked="false" Priority="39" SemiHidden="true"
                            UnhideWhenUsed="true" Name="toc 8"/>
            <w:LsdException Locked="false" Priority="39" SemiHidden="true"
                            UnhideWhenUsed="true" Name="toc 9"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Normal Indent"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="footnote text"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="annotation text"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="header"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="footer"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="index heading"/>
            <w:LsdException Locked="false" Priority="35" SemiHidden="true"
                            UnhideWhenUsed="true" QFormat="true" Name="caption"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="table of figures"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="envelope address"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="envelope return"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="footnote reference"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="annotation reference"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="line number"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="page number"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="endnote reference"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="endnote text"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="table of authorities"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="macro"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="toa heading"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Bullet"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Number"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List 4"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List 5"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Bullet 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Bullet 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Bullet 4"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Bullet 5"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Number 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Number 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Number 4"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Number 5"/>
            <w:LsdException Locked="false" Priority="10" QFormat="true" Name="Title"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Closing"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Signature"/>
            <w:LsdException Locked="false" Priority="0" SemiHidden="true"
                            UnhideWhenUsed="true" Name="Default Paragraph Font"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Body Text"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Body Text Indent"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Continue"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Continue 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Continue 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Continue 4"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="List Continue 5"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Message Header"/>
            <w:LsdException Locked="false" Priority="11" QFormat="true" Name="Subtitle"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Salutation"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Date"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Body Text First Indent"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Body Text First Indent 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Note Heading"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Body Text 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Body Text 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Body Text Indent 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Body Text Indent 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Block Text"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Hyperlink"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="FollowedHyperlink"/>
            <w:LsdException Locked="false" Priority="22" QFormat="true" Name="Strong"/>
            <w:LsdException Locked="false" Priority="20" QFormat="true" Name="Emphasis"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Document Map"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Plain Text"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="E-mail Signature"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="HTML Top of Form"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="HTML Bottom of Form"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Normal (Web)"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="HTML Acronym"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="HTML Address"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="HTML Cite"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="HTML Code"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="HTML Definition"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="HTML Keyboard"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="HTML Preformatted"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="HTML Sample"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="HTML Typewriter"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="HTML Variable"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Normal Table"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="annotation subject"/>
            <w:LsdException Locked="false" Priority="0" SemiHidden="true"
                            UnhideWhenUsed="true" Name="No List"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Outline List 1"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Outline List 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Outline List 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Simple 1"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Simple 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Simple 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Classic 1"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Classic 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Classic 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Classic 4"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Colorful 1"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Colorful 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Colorful 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Columns 1"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Columns 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Columns 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Columns 4"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Columns 5"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Grid 1"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Grid 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Grid 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Grid 4"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Grid 5"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Grid 6"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Grid 7"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Grid 8"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table List 1"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table List 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table List 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table List 4"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table List 5"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table List 6"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table List 7"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table List 8"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table 3D effects 1"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table 3D effects 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table 3D effects 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Contemporary"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Elegant"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Professional"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Subtle 1"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Subtle 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Web 1"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Web 2"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Web 3"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Balloon Text"/>
            <w:LsdException Locked="false" Priority="59" Name="Table Grid"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Table Theme"/>
            <w:LsdException Locked="false" SemiHidden="true" Name="Placeholder Text"/>
            <w:LsdException Locked="false" Priority="1" QFormat="true" Name="No Spacing"/>
            <w:LsdException Locked="false" Priority="60" Name="Light Shading"/>
            <w:LsdException Locked="false" Priority="61" Name="Light List"/>
            <w:LsdException Locked="false" Priority="62" Name="Light Grid"/>
            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1"/>
            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2"/>
            <w:LsdException Locked="false" Priority="65" Name="Medium List 1"/>
            <w:LsdException Locked="false" Priority="66" Name="Medium List 2"/>
            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1"/>
            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2"/>
            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3"/>
            <w:LsdException Locked="false" Priority="70" Name="Dark List"/>
            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading"/>
            <w:LsdException Locked="false" Priority="72" Name="Colorful List"/>
            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid"/>
            <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 1"/>
            <w:LsdException Locked="false" Priority="61" Name="Light List Accent 1"/>
            <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 1"/>
            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 1"/>
            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 1"/>
            <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 1"/>
            <w:LsdException Locked="false" SemiHidden="true" Name="Revision"/>
            <w:LsdException Locked="false" Priority="34" QFormat="true"
                            Name="List Paragraph"/>
            <w:LsdException Locked="false" Priority="29" QFormat="true" Name="Quote"/>
            <w:LsdException Locked="false" Priority="30" QFormat="true"
                            Name="Intense Quote"/>
            <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 1"/>
            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 1"/>
            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 1"/>
            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 1"/>
            <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 1"/>
            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 1"/>
            <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 1"/>
            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 1"/>
            <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 2"/>
            <w:LsdException Locked="false" Priority="61" Name="Light List Accent 2"/>
            <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 2"/>
            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 2"/>
            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 2"/>
            <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 2"/>
            <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 2"/>
            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 2"/>
            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 2"/>
            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 2"/>
            <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 2"/>
            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 2"/>
            <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 2"/>
            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 2"/>
            <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 3"/>
            <w:LsdException Locked="false" Priority="61" Name="Light List Accent 3"/>
            <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 3"/>
            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 3"/>
            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 3"/>
            <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 3"/>
            <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 3"/>
            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 3"/>
            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 3"/>
            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 3"/>
            <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 3"/>
            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 3"/>
            <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 3"/>
            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 3"/>
            <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 4"/>
            <w:LsdException Locked="false" Priority="61" Name="Light List Accent 4"/>
            <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 4"/>
            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 4"/>
            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 4"/>
            <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 4"/>
            <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 4"/>
            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 4"/>
            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 4"/>
            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 4"/>
            <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 4"/>
            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 4"/>
            <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 4"/>
            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 4"/>
            <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 5"/>
            <w:LsdException Locked="false" Priority="61" Name="Light List Accent 5"/>
            <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 5"/>
            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 5"/>
            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 5"/>
            <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 5"/>
            <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 5"/>
            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 5"/>
            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 5"/>
            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 5"/>
            <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 5"/>
            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 5"/>
            <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 5"/>
            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 5"/>
            <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 6"/>
            <w:LsdException Locked="false" Priority="61" Name="Light List Accent 6"/>
            <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 6"/>
            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 6"/>
            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 6"/>
            <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 6"/>
            <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 6"/>
            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 6"/>
            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 6"/>
            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 6"/>
            <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 6"/>
            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 6"/>
            <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 6"/>
            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 6"/>
            <w:LsdException Locked="false" Priority="19" QFormat="true"
                            Name="Subtle Emphasis"/>
            <w:LsdException Locked="false" Priority="21" QFormat="true"
                            Name="Intense Emphasis"/>
            <w:LsdException Locked="false" Priority="31" QFormat="true"
                            Name="Subtle Reference"/>
            <w:LsdException Locked="false" Priority="32" QFormat="true"
                            Name="Intense Reference"/>
            <w:LsdException Locked="false" Priority="33" QFormat="true" Name="Book Title"/>
            <w:LsdException Locked="false" Priority="37" SemiHidden="true"
                            UnhideWhenUsed="true" Name="Bibliography"/>
            <w:LsdException Locked="false" Priority="39" SemiHidden="true"
                            UnhideWhenUsed="true" QFormat="true" Name="TOC Heading"/>
            <w:LsdException Locked="false" Priority="41" Name="Plain Table 1"/>
            <w:LsdException Locked="false" Priority="42" Name="Plain Table 2"/>
            <w:LsdException Locked="false" Priority="43" Name="Plain Table 3"/>
            <w:LsdException Locked="false" Priority="44" Name="Plain Table 4"/>
            <w:LsdException Locked="false" Priority="45" Name="Plain Table 5"/>
            <w:LsdException Locked="false" Priority="40" Name="Grid Table Light"/>
            <w:LsdException Locked="false" Priority="46" Name="Grid Table 1 Light"/>
            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2"/>
            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3"/>
            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4"/>
            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark"/>
            <w:LsdException Locked="false" Priority="51" Name="Grid Table 6 Colorful"/>
            <w:LsdException Locked="false" Priority="52" Name="Grid Table 7 Colorful"/>
            <w:LsdException Locked="false" Priority="46"
                            Name="Grid Table 1 Light Accent 1"/>
            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 1"/>
            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 1"/>
            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 1"/>
            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 1"/>
            <w:LsdException Locked="false" Priority="51"
                            Name="Grid Table 6 Colorful Accent 1"/>
            <w:LsdException Locked="false" Priority="52"
                            Name="Grid Table 7 Colorful Accent 1"/>
            <w:LsdException Locked="false" Priority="46"
                            Name="Grid Table 1 Light Accent 2"/>
            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 2"/>
            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 2"/>
            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 2"/>
            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 2"/>
            <w:LsdException Locked="false" Priority="51"
                            Name="Grid Table 6 Colorful Accent 2"/>
            <w:LsdException Locked="false" Priority="52"
                            Name="Grid Table 7 Colorful Accent 2"/>
            <w:LsdException Locked="false" Priority="46"
                            Name="Grid Table 1 Light Accent 3"/>
            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 3"/>
            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 3"/>
            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 3"/>
            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 3"/>
            <w:LsdException Locked="false" Priority="51"
                            Name="Grid Table 6 Colorful Accent 3"/>
            <w:LsdException Locked="false" Priority="52"
                            Name="Grid Table 7 Colorful Accent 3"/>
            <w:LsdException Locked="false" Priority="46"
                            Name="Grid Table 1 Light Accent 4"/>
            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 4"/>
            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 4"/>
            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 4"/>
            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 4"/>
            <w:LsdException Locked="false" Priority="51"
                            Name="Grid Table 6 Colorful Accent 4"/>
            <w:LsdException Locked="false" Priority="52"
                            Name="Grid Table 7 Colorful Accent 4"/>
            <w:LsdException Locked="false" Priority="46"
                            Name="Grid Table 1 Light Accent 5"/>
            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 5"/>
            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 5"/>
            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 5"/>
            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 5"/>
            <w:LsdException Locked="false" Priority="51"
                            Name="Grid Table 6 Colorful Accent 5"/>
            <w:LsdException Locked="false" Priority="52"
                            Name="Grid Table 7 Colorful Accent 5"/>
            <w:LsdException Locked="false" Priority="46"
                            Name="Grid Table 1 Light Accent 6"/>
            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 6"/>
            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 6"/>
            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 6"/>
            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 6"/>
            <w:LsdException Locked="false" Priority="51"
                            Name="Grid Table 6 Colorful Accent 6"/>
            <w:LsdException Locked="false" Priority="52"
                            Name="Grid Table 7 Colorful Accent 6"/>
            <w:LsdException Locked="false" Priority="46" Name="List Table 1 Light"/>
            <w:LsdException Locked="false" Priority="47" Name="List Table 2"/>
            <w:LsdException Locked="false" Priority="48" Name="List Table 3"/>
            <w:LsdException Locked="false" Priority="49" Name="List Table 4"/>
            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark"/>
            <w:LsdException Locked="false" Priority="51" Name="List Table 6 Colorful"/>
            <w:LsdException Locked="false" Priority="52" Name="List Table 7 Colorful"/>
            <w:LsdException Locked="false" Priority="46"
                            Name="List Table 1 Light Accent 1"/>
            <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 1"/>
            <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 1"/>
            <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 1"/>
            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 1"/>
            <w:LsdException Locked="false" Priority="51"
                            Name="List Table 6 Colorful Accent 1"/>
            <w:LsdException Locked="false" Priority="52"
                            Name="List Table 7 Colorful Accent 1"/>
            <w:LsdException Locked="false" Priority="46"
                            Name="List Table 1 Light Accent 2"/>
            <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 2"/>
            <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 2"/>
            <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 2"/>
            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 2"/>
            <w:LsdException Locked="false" Priority="51"
                            Name="List Table 6 Colorful Accent 2"/>
            <w:LsdException Locked="false" Priority="52"
                            Name="List Table 7 Colorful Accent 2"/>
            <w:LsdException Locked="false" Priority="46"
                            Name="List Table 1 Light Accent 3"/>
            <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 3"/>
            <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 3"/>
            <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 3"/>
            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 3"/>
            <w:LsdException Locked="false" Priority="51"
                            Name="List Table 6 Colorful Accent 3"/>
            <w:LsdException Locked="false" Priority="52"
                            Name="List Table 7 Colorful Accent 3"/>
            <w:LsdException Locked="false" Priority="46"
                            Name="List Table 1 Light Accent 4"/>
            <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 4"/>
            <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 4"/>
            <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 4"/>
            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 4"/>
            <w:LsdException Locked="false" Priority="51"
                            Name="List Table 6 Colorful Accent 4"/>
            <w:LsdException Locked="false" Priority="52"
                            Name="List Table 7 Colorful Accent 4"/>
            <w:LsdException Locked="false" Priority="46"
                            Name="List Table 1 Light Accent 5"/>
            <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 5"/>
            <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 5"/>
            <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 5"/>
            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 5"/>
            <w:LsdException Locked="false" Priority="51"
                            Name="List Table 6 Colorful Accent 5"/>
            <w:LsdException Locked="false" Priority="52"
                            Name="List Table 7 Colorful Accent 5"/>
            <w:LsdException Locked="false" Priority="46"
                            Name="List Table 1 Light Accent 6"/>
            <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 6"/>
            <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 6"/>
            <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 6"/>
            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 6"/>
            <w:LsdException Locked="false" Priority="51"
                            Name="List Table 6 Colorful Accent 6"/>
            <w:LsdException Locked="false" Priority="52"
                            Name="List Table 7 Colorful Accent 6"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Mention"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Smart Hyperlink"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Hashtag"/>
            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                            Name="Unresolved Mention"/>
        </w:LatentStyles>
    </xml><![endif]-->
    <style>
        <!--
        /* Font Definitions */
        @font-face
        {font-family:Wingdings;
            panose-1:5 0 0 0 0 0 0 0 0 0;
            mso-font-charset:2;
            mso-generic-font-family:auto;
            mso-font-pitch:variable;
            mso-font-signature:0 268435456 0 0 -2147483648 0;}
        @font-face
        {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;
            mso-font-charset:0;
            mso-generic-font-family:roman;
            mso-font-pitch:variable;
            mso-font-signature:-536869121 1107305727 33554432 0 415 0;}
        @font-face
        {font-family:"Californian FB";
            panose-1:2 7 4 3 6 8 11 3 2 4;
            mso-font-charset:0;
            mso-generic-font-family:roman;
            mso-font-pitch:variable;
            mso-font-signature:3 0 0 0 1 0;}
        @font-face
        {font-family:Tahoma;
            panose-1:2 11 6 4 3 5 4 4 2 4;
            mso-font-charset:0;
            mso-generic-font-family:swiss;
            mso-font-pitch:variable;
            mso-font-signature:-520081665 -1073717157 41 0 66047 0;}
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal
        {mso-style-unhide:no;
            mso-style-qformat:yes;
            mso-style-parent:"";
            margin:0cm;
            margin-bottom:.0001pt;
            mso-pagination:widow-orphan;
            font-size:10.0pt;
            font-family:"Times New Roman",serif;
            mso-fareast-font-family:"Times New Roman";}
        h1
        {mso-style-unhide:no;
            mso-style-qformat:yes;
            mso-style-next:Normal;
            margin:0cm;
            margin-bottom:.0001pt;
            mso-pagination:widow-orphan;
            page-break-after:avoid;
            mso-outline-level:1;
            tab-stops:7.1pt;
            font-size:10.0pt;
            font-family:"Times New Roman",serif;
            mso-font-kerning:0pt;
            mso-bidi-font-weight:normal;}
        h2
        {mso-style-unhide:no;
            mso-style-qformat:yes;
            mso-style-next:Normal;
            margin-top:0cm;
            margin-right:0cm;
            margin-bottom:0cm;
            margin-left:120.5pt;
            margin-bottom:.0001pt;
            text-indent:-169.8pt;
            mso-pagination:widow-orphan;
            page-break-after:avoid;
            mso-outline-level:2;
            font-size:10.0pt;
            font-family:"Times New Roman",serif;
            mso-bidi-font-weight:normal;}
        a:link, span.MsoHyperlink
        {mso-style-unhide:no;
            mso-style-parent:"";
            color:blue;
            text-decoration:underline;
            text-underline:single;}
        a:visited, span.MsoHyperlinkFollowed
        {mso-style-unhide:no;
            mso-style-parent:"";
            color:purple;
            text-decoration:underline;
            text-underline:single;}
        p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
        {mso-style-noshow:yes;
            mso-style-unhide:no;
            margin:0cm;
            margin-bottom:.0001pt;
            mso-pagination:widow-orphan;
            font-size:8.0pt;
            font-family:"Tahoma",sans-serif;
            mso-fareast-font-family:"Times New Roman";}
        span.GramE
        {mso-style-name:"";
            mso-gram-e:yes;}
        .MsoChpDefault
        {mso-style-type:export-only;
            mso-default-props:yes;}
        @page WordSection1
        {size:595.3pt 841.9pt;
            margin:1.0cm 2.0cm 1.0cm 2.0cm;
            mso-header-margin:36.0pt;
            mso-footer-margin:36.0pt;
            mso-paper-source:0;}
        div.WordSection1
        {page:WordSection1;}
        div {
            word-wrap: break-word;
        }
        -->
    </style>
    <!--[if gte mso 10]>
    <style>
        /* Style Definitions */
        table.MsoNormalTable
        {mso-style-name:"Tableau Normal";
            mso-tstyle-rowband-size:0;
            mso-tstyle-colband-size:0;
            mso-style-noshow:yes;
            mso-style-unhide:no;
            mso-style-parent:"";
            mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
            mso-para-margin:0cm;
            mso-para-margin-bottom:.0001pt;
            mso-pagination:widow-orphan;
            font-size:10.0pt;
            font-family:"Times New Roman",serif;}
    </style>
    <![endif]--><!--[if gte mso 9]><xml>
        <o:shapedefaults v:ext="edit" spidmax="1026"/>
    </xml><![endif]--><!--[if gte mso 9]><xml>
        <o:shapelayout v:ext="edit">
            <o:idmap v:ext="edit" data="1"/>
        </o:shapelayout></xml><![endif]-->
</head>

<body lang=FR link=blue vlink=purple style='tab-interval:8.5pt'>

<div class=WordSection1>

    <div  style='mso-element:para-border-div;border:solid windowtext 1.0pt;
mso-border-alt:solid windowtext .5pt;padding:1.0pt 4.0pt 1.0pt 4.0pt;
background:silver'>

        <p class=MsoNormal style='tab-stops:9.0cm;background:silver;border:none;
mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'><span style='mso-spacerun:yes'>
</span><span style='mso-spacerun:yes'></span><span style='mso-tab-count:1'>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span></span></b><span
                    style='font-size:11.0pt;font-family:"Californian FB",serif'>Merci de retourner
ce bordereau <span style='mso-spacerun:yes'></span><o:p></o:p></span></p>

        <p class=MsoNormal style='tab-stops:9.0cm 10.0cm;background:silver;border:none;
mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><span
                    style='font-size:11.0pt;font-family:"Californian FB",serif'><span
                        style='mso-tab-count:1'>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span><span
                        class=GramE>d&ucirc;ment</span> rempli par fax ou mail &agrave; :<span style='mso-tab-count:
1'> </span><o:p></o:p></span></p>

        <p class=MsoNormal style='tab-stops:9.0cm 10.0cm;background:silver;border:none;
mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'><span style='mso-spacerun:yes'></span>BORDEREAU
D&#039;OFFRE DE CONTRAT</span></b><span style='font-size:11.0pt;font-family:"Californian FB",serif'><span
                        style='mso-tab-count:1'>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span><b style='mso-bidi-font-weight:
normal'>Monique OUAZAN</b><o:p></o:p></span></p>

        <h1 style='tab-stops:7.1pt 9.0cm 10.0cm;background:silver;border:none;
mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><span
                    style='font-size:11.0pt;font-family:"Californian FB",serif'><span
                        style='mso-tab-count:1'></span><span
                        style='mso-spacerun:yes'></span>APPRENTISSAGE<span style='mso-tab-count:1'>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</span>D&eacute;partement
R&eacute;seaux et T&eacute;l&eacute;communications<o:p></o:p></span></h1>

        <p class=MsoNormal style='tab-stops:9.0cm;background:silver;border:none;
mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><span
                    style='font-size:11.0pt;font-family:"Californian FB",serif'><span
                        style='mso-spacerun:yes'>
</span><span style='mso-spacerun:yes'>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span><span
                        style='mso-tab-count:1'></span>Tel : 01
49 40 40 94 <o:p></o:p></span></p>

        <p class=MsoNormal style='tab-stops:9.0cm;background:silver;border:none;
mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><span
                    style='font-size:11.0pt;font-family:"Californian FB",serif'><span
                        style='mso-spacerun:yes'> &nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
</span><span style='color:black'>monique.ouazan@univ-paris13.fr<o:p></o:p></span></span></p>

    </div>

    <h2 style='margin-left:0cm;text-indent:0cm'><span style='font-size:11.0pt;
font-family:"Californian FB",serif'><o:p>&nbsp;</o:p></span></h2>

    <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                    style='font-size:11.0pt;font-family:"Californian FB",serif'><span
                        style='mso-tab-count:11'></span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span
                        style='mso-spacerun:yes'></span>A - VOTRE ENTREPRISE<o:p></o:p></span></b></p>

    <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                    style='font-size:11.0pt;font-family:"Californian FB",serif'><o:p>&nbsp;</o:p></span></b></p>

    <div style='mso-element:para-border-div;border:solid windowtext 1.0pt;
mso-border-alt:solid windowtext .5pt;padding:1.0pt 4.0pt 1.0pt 4.0pt'>

        <p class=MsoNormal style='line-height:150%;tab-stops:dotted 10.0cm 474.9pt;
border:none;mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:
1.0pt 4.0pt 1.0pt 4.0pt'><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:11.0pt;line-height:150%;font-family:"Californian FB",serif'><o:p>&nbsp;</o:p></span></b></p>

        <p class=MsoNormal style='line-height:150%;tab-stops:dotted 10.0cm 474.9pt;
border:none;mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:
1.0pt 4.0pt 1.0pt 4.0pt'><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:11.0pt;line-height:150%;font-family:"Californian FB",serif'>Raison
sociale : {{ entreprise.raisonsociale|addChar(23) }}<br/> Apprenti(e) s&eacute;lectionn&eacute;(e)&nbsp;: <span
                            style='mso-tab-count:2 dotted'>{{ (apprenti.compte.nom ~ ' ' ~ apprenti.compte.prenom)|addChar(150) }}</span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='line-height:150%;tab-stops:dotted 8.0cm 474.9pt;
border:none;mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:
1.0pt 4.0pt 1.0pt 4.0pt'><span class=GramE><b style='mso-bidi-font-weight:normal'><span
                            style='font-size:11.0pt;line-height:150%;font-family:"Californian FB",serif'>Siret :</span></b></span><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;line-height:
150%;font-family:"Californian FB",serif'><span style='mso-tab-count:1 dotted'> {{ entreprise.siret|addChar(23) }}</span>
&nbsp;&nbsp;&nbsp;Nombre de salari&eacute;s :<span style='mso-tab-count:1 dotted'> {{ entreprise.nombresalaries|addChar(70) }}</span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='line-height:150%;tab-stops:dotted 474.9pt;border:
none;mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><span
                    class=GramE><b style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;
line-height:150%;font-family:"Californian FB",serif'>Adresse :</span></b></span><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;line-height:
150%;font-family:"Californian FB",serif'> <span style='mso-tab-count:1 dotted'>{{ entreprise.adresse|addChar(193) }}</span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='line-height:150%;tab-stops:dotted 8.0cm 474.9pt;
border:none;mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:
1.0pt 4.0pt 1.0pt 4.0pt'><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:11.0pt;line-height:150%;font-family:"Californian FB",serif'>Code
<span class=GramE>postal :</span> <span style='mso-tab-count:1 dotted'>{{ entreprise.codepostal|addChar(72) }} </span><span
                            style='mso-spacerun:yes'></span>Ville&nbsp;:&nbsp;<span style='mso-tab-count:1 dotted'>{{ entreprise.ville|addChar(85) }}</span>
<o:p></o:p></span></b></p>

        <p class=MsoNormal style='line-height:150%;tab-stops:dotted 5.0cm 11.0cm 474.9pt;
border:none;mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:
1.0pt 4.0pt 1.0pt 4.0pt'><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:11.0pt;line-height:150%;font-family:Wingdings;mso-ascii-font-family:
"Californian FB";mso-hansi-font-family:"Californian FB";mso-char-type:symbol;
mso-symbol-font-family:Wingdings'><span class="glyphicon glyphicon-phone-alt"></span></span></b><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:11.0pt;line-height:150%;font-family:"Californian FB",serif'> : <span
                            style='mso-tab-count:1 dotted'>{{ entreprise.telephone|addChar(20) }} </span><span
                            style='mso-spacerun:yes'></span>Fax&nbsp;: <span style='mso-tab-count:1 dotted'>{{ entreprise.fax|addChar(62) }} </span><span
                            style='mso-spacerun:yes'></span>@&nbsp;: <span style='mso-tab-count:1 dotted'>{{ entreprise.email|addChar(75) }}</span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='line-height:150%;tab-stops:dotted 474.9pt;border:
none;mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;line-height:
150%;font-family:"Californian FB",serif'>Domaine d&#039;activit&eacute; de <span
                            class=GramE>l&#039;entreprise : </span><span style='mso-tab-count:1 dotted'>{{ entreprise.domaineactivite|addChar(149) }}</span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='line-height:150%;tab-stops:dotted 474.9pt;border:
none;mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><u><span style='font-size:11.0pt;
line-height:150%;font-family:"Californian FB",serif'>Correspondant de votre
entreprise pour l&#039;IUT<o:p></o:p></span></u></b></p>

        <p class=MsoNormal style='line-height:150%;tab-stops:dotted 8.0cm 474.9pt;
border:none;mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:
1.0pt 4.0pt 1.0pt 4.0pt'><span class=GramE><b style='mso-bidi-font-weight:normal'><span
                            style='font-size:11.0pt;line-height:150%;font-family:"Californian FB",serif'>Nom : </span></b></span><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;line-height:
150%;font-family:"Californian FB",serif'><span style='mso-tab-count:1 dotted'>{{ entreprise.correspondantentreprise.nom|addChar(87) }}</span><span
                            style='mso-spacerun:yes'></span> &nbsp;&nbsp;&nbsp;Pr&eacute;nom&nbsp;: <span style='mso-tab-count:1 dotted'>{{ entreprise.correspondantentreprise.prenom|addChar(80) }}</span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'>Fonction&nbsp;: <span style='mso-tab-count:1 dotted'>{{ entreprise.correspondantentreprise.fonction|addChar(191) }}</span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 5.0cm 11.0cm 474.9pt;border:none;
mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
Wingdings;mso-ascii-font-family:"Californian FB";mso-hansi-font-family:"Californian FB";
mso-char-type:symbol;mso-symbol-font-family:Wingdings'><span class="glyphicon glyphicon-phone-alt"></span></span></b><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'> : <span style='mso-tab-count:1 dotted'>{{ entreprise.correspondantentreprise.telephone|addChar(20) }} </span>@ : <span
                            style='mso-tab-count:1 dotted'>{{ entreprise.correspondantentreprise.email|addChar(130) }}</span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><u><span style='font-size:11.0pt;
font-family:"Californian FB",serif'><o:p><span style='text-decoration:none'><br/></span></o:p></span></u></b></p>

        <p class=MsoNormal style='line-height:150%;tab-stops:dotted 474.9pt;border:
none;mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><u><span style='font-size:11.0pt;
line-height:150%;font-family:"Californian FB",serif'>Coordonn&eacute;es du ma&icirc;tre
apprentissage&nbsp;:<o:p></o:p></span></u></b></p>

        <p class=MsoNormal style='line-height:150%;tab-stops:dotted 8.0cm 474.9pt;
border:none;mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:
1.0pt 4.0pt 1.0pt 4.0pt'><span class=GramE><b style='mso-bidi-font-weight:normal'><span
                            style='font-size:11.0pt;line-height:150%;font-family:"Californian FB",serif'>Nom :</span></b></span><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;line-height:
150%;font-family:"Californian FB",serif'> <span style='mso-tab-count:1 dotted'>{{ dossier.maitreapprentissage.compte.nom|addChar(87) }} </span><span
                            style='mso-spacerun:yes'></span>Pr&eacute;nom&nbsp;: <span style='mso-tab-count:1 dotted'>{{ dossier.maitreapprentissage.compte.nom|addChar(80) }}</span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'>Fonction&nbsp;: <span style='mso-tab-count:1 dotted'>{{ dossier.maitreapprentissage.compte.nom|addChar(191) }}</span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 5.0cm 11.0cm 474.9pt;border:none;
mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
Wingdings;mso-ascii-font-family:"Californian FB";mso-hansi-font-family:"Californian FB";
mso-char-type:symbol;mso-symbol-font-family:Wingdings'><span class="glyphicon glyphicon-phone-alt"></span></span></b><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'> : <span style='mso-tab-count:1 dotted'>{{ dossier.maitreapprentissage.telephone|addChar(20) }} </span><span
                            class=GramE>Fax : </span><span style='mso-tab-count:1 dotted'>{{ dossier.maitreapprentissage.fax|addChar(65) }} </span><span
                            style='mso-spacerun:yes'></span>@ : <span style='mso-tab-count:1 dotted'>{{ dossier.maitreapprentissage.compte.email|addChar(65) }}</span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 5.0cm 11.0cm 474.9pt;border:none;
mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'><o:p>&nbsp;</o:p></span></b></p>

    </div>

    <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                    style='font-size:11.0pt;font-family:"Californian FB",serif'><o:p>&nbsp;</o:p></span></b></p>

    <p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:11.0pt;font-family:"Californian FB",serif'>B -
VOTRE OFFRE DE CONTRAT D&#039;APPRENTISSAGE EN DUT RESEAUX ET TELECOMMUNICATIONS<o:p></o:p></span></b></p>

    <p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:11.0pt;font-family:"Californian FB",serif'><o:p>&nbsp;</o:p></span></b></p>

    <div style='mso-element:para-border-div;border:solid windowtext 1.0pt;
mso-border-alt:solid windowtext .5pt;padding:1.0pt 4.0pt 1.0pt 4.0pt'>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'><o:p>&nbsp;</o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'>Dates d&#039;embauche : <span
                            style='mso-spacerun:yes'>{{ dossier.dateembauche|date("d/m/Y")|addChar(170) }}</span></span></b><span style='font-size:11.0pt;
font-family:"Californian FB",serif'><o:p></o:p></span></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><span
                    style='font-size:11.0pt;font-family:"Californian FB",serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><span
                    style='font-size:11.0pt;font-family:"Californian FB",serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'>Sujet propos&eacute; : <span style='mso-tab-count:1 dotted'>{{ dossier.sujetpropose|addChar(183) }}</span>
<o:p></o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'><o:p>&nbsp;</o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'>Description du sujet : <span style='mso-tab-count:1 dotted'>{{ dossier.descriptiondusujet|addChar(166) }}</span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'><span style='mso-tab-count:1 dotted'>{{ ''|addChar(1500)|raw }}</span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'><o:p>&nbsp;</o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'><o:p>&nbsp;</o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'>Participation financi&egrave;re&nbsp;: <o:p></o:p>{{ dossier.participationfinanciere }} EUR</span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
Wingdings;mso-ascii-font-family:"Californian FB";mso-hansi-font-family:"Californian FB";
mso-char-type:symbol;mso-symbol-font-family:Wingdings'><span class="glyphicon glyphicon-unchecked"></span></span></b><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'> Contribution minimale (conforme &agrave; l&#039;&eacute;tude financi&egrave;re)
4 100&euro;<o:p></o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'>N.B.&nbsp;: le CFA SUP 2000 vous fera parvenir le
contrat d&#039;apprentissage (CERFA)<o:p></o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 474.9pt;border:none;mso-border-alt:
solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Californian FB",serif'><o:p>&nbsp;</o:p></span></b></p>

    </div>

    <p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:11.0pt;font-family:"Californian FB",serif'>RESERVE
A LA GESTION DES CONTRATS<o:p></o:p></span></b></p>

    <div style='mso-element:para-border-div;border:solid windowtext 1.0pt;
mso-border-alt:solid windowtext .5pt;padding:1.0pt 4.0pt 1.0pt 4.0pt;
background:silver'>

        <p class=MsoNormal style='background:silver;border:none;mso-border-alt:solid windowtext .5pt;
padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b style='mso-bidi-font-weight:
normal'><span style='font-size:11.0pt;font-family:"Californian FB",serif'><o:p>&nbsp;</o:p></span></b></p>

        <p class=MsoNormal style='tab-stops:dotted 8.0cm 16.0cm;background:silver;
border:none;mso-border-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:
1.0pt 4.0pt 1.0pt 4.0pt'><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:11.0pt;font-family:"Californian FB",serif'>Apprentissage valid&eacute;
par :<span style='mso-tab-count:1 dotted'>.............................................. </span>
Date&nbsp;: <span style='mso-tab-count:1 dotted'>...................................................................................... </span><o:p></o:p></span></b></p>

        <p class=MsoNormal style='background:silver;border:none;mso-border-alt:solid windowtext .5pt;
padding:0cm;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'><b style='mso-bidi-font-weight:
normal'><span style='font-size:11.0pt;font-family:"Californian FB",serif'><o:p>&nbsp;</o:p></span></b></p>

    </div>

</div>

</body>

</html>