{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/build/css/custom_statistique.css">
{% endblock %}

{% block page_title %}Statistiques{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="contenu col-xs-12">
                <div id="labels" class="hide">{{ liste_nom_etape }}</div>
                <div id="tmpMoyenEtapes" class="hide">{{ tmpMoyenEtapes }}</div>
                <div id="tauxAbandonEtape" class="hide">{{ tauxAbandonEtape }}</div>

                {#{% for nom_etape in liste_nom_etape %}#}
                {#<h4>{{ nom_etape.nomEtape }}</h4>#}
                {#{% endfor %}#}
                <div class = "col-xs-12 chart">
                    <canvas id="BarChart"></canvas>
                </div>
                <div class = "col-xs-12 chart">
                    <canvas id="PieChart1"></canvas>
                </div>
                {#<div class = "col-xs-12 chart">#}
                    {#<canvas id="PieChart2"></canvas>#}
                {#</div>#}
                <div class = "col-xs-12">
                    <h3> Nombre d'abandons </h3>
                    <h3>{{ nbAbandons }}</h3>
                </div>
                <div class = "col-xs-12">
                    <h3> Temps de complétion moyen d’un dossier </h3>
                    {% if tmpMoyenDossier is not empty %}
                        <h3>{{ tmpMoyenDossier ~ " Jours" }}</h3>
                    {% else %}
                        <h3>Aucun dossier complété</h3>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/build/js/Chart.js"></script>
    <script src="/build/js/statistique.js"></script>
{% endblock %}