{% extends 'base.html.twig' %}

{% block title %}Page de suivi{% endblock %}

{% block page_title %}Suivi du dossier de {{ apprenti.compte.prenom ~ ' '~ apprenti.compte.nom }}{% if apprenti.Dossier.etat == 'Abandonné' %} (abandonné){% endif %}{% endblock %}

{% block body %}

    <div class="modal fade" id="pop" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Titre</h4>
                </div>
                <div class="modal-body">
                    <p class="modal-text">Message</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancelAction" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary doAction">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 contenu">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <p id="id_dossier" hidden>{{ apprenti.Dossier.id }}</p>
                {% set index_etape = 0 %}
                {% set nb_colonnes = 3 %}

                {% set reste = nb_type_etapes%3 %}
                {% set div_entiere = (nb_type_etapes/3)|round(0, 'floor') %}

                {% for num_colonne in 1..nb_colonnes %}
                    {% set count = div_entiere %}
                    {% if num_colonne <= reste %}
                        {% set count = count + 1 %}
                    {% endif %}
                    <div class="col-lg-4 {% if num_colonne < 3 %}ligne{% endif %}">
                        {% for i in 1..count %}
                            {% set etape = liste_etapes[index_etape] %}
                            {% set class_type = 'col-lg-12 etape' %}
                            {% if etape.positionEtape < position_etape_actuelle %}
                                {% set class_type = class_type ~ ' etape-valide' %}
                            {% elseif etape.positionEtape > position_etape_actuelle %}
                                {% set class_type = class_type ~ ' etape-future' %}
                            {% else %}
                                {% set class_type = class_type ~ ' etape-actuelle' %}
                            {% endif %}
                            {% if apprenti.Dossier.etat == 'En cours' %}
                                {% if is_granted(etape.typeValidateur) or is_granted('ROLE_IUT') %}
                                    {% set class_type = class_type ~ ' validable' %}
                                {% endif %}
                                {% if is_granted('ROLE_IUT') %}
                                    {% set class_type = class_type ~ ' annulable' %}
                                {% endif %}
                            {% endif %}
                            {% if etape.positionEtape == 1 and (is_granted('ROLE_ADMIN') or (is_granted('ROLE_APPRENTI') and position_etape_actuelle == 1)) %}
                                <a href="{{ path('choix_entreprise', {'id': apprenti.compte.id}) }}">
                            {% endif %}
                            <div class="{{ class_type }}" id="{{ etape.id }}">
                                <div class="cercle center-block col-lg-4"><img class="img-responsive" src="/build/img/Icone_{{ etape.typeIcone }}.png" alt=""/></div>
                                <p class="col-lg-8">{{ etape.NomEtape }}</p>
                            </div>
                            {% if etape.positionEtape == 1 %}
                                </a>
                            {% endif %}


                            {% set index_etape = index_etape + 1 %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 text-center contenu">
                <a class="btn btn-default" href="{{ path('profil', {"id":apprenti.compte.id}) }}">Profil</a>
                <a class="btn btn-default" href="{{ path('historique', {"id":apprenti.compte.id}) }}">Historique</a>
                {% if apprenti.Dossier.etat != "Abandonné" and (is_granted('ROLE_IUT')) %}
                    <button id="abandon" class="btn btn-default">Abandonner dossier</button>
                {% endif %}
                {% if (apprenti.dossier.entreprise is not empty and (apprenti.dossier.sujetpropose is not empty or is_granted('ROLE_MAITRE_APP'))) %}
                    <a class="btn btn-default" href="{{ path('consulter_bordereau', {"id":apprenti.compte.id}) }}">Bordereau</a>
                {% endif %}
                {% if apprenti.Dossier.etat == "Abandonné" and (is_granted('ROLE_IUT')) %}
                    <button id="reactivation" class="btn btn-default">Réactiver dossier</button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}