{% extends 'base.html.twig' %}

{% block title %}Page de suivi{% endblock %}

{% block user %}Test{% endblock %}

{% block body %}
    <h1><center>Version de Dev</center></h1>

    <div class="row suivi">
    <div class="col-xs-12 contenu">
        {% for etape in liste_etapes %}
        {% if loop.index0 is divisible by(3) and loop.index0 < 6 %}
        <div class="col-lg-4 ligne">
            {% elseif loop.index0 is divisible by(3) %}
            <div class="col-lg-4">
                {% endif %}
                <div class="col-lg-12 etape
                    {% if etape.ID < id_type_etape_actuelle %}
                        etape-valide
                    {% elseif etape.ID > id_type_etape_actuelle %}
                        etape-future
                    {% else %}
                        etape-actuelle
                    {% endif %}
                        ">
                    <div class="cercle center-block col-lg-4"><img class="img-responsive" src="/build/img/Icone_{{ etape.typeIcone }}.png" alt=""/></div>
                    <p class="col-lg-8">{{ etape.NomEtape }}</p>
                </div>
                {% if loop.index is divisible by(3) %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 contenu">
                <h2>Suivi du dossier de {{ apprenti.prenom ~ ' '~ apprenti.nom }} (ID {{ apprenti.ID }})</h2>
                {% for etape in liste_etapes %}
                    <div class="col-xs-12 col-sm-2">
                        <div class="etape
                    {% if etape.ID < id_type_etape_actuelle %}
                        etape-valide
                    {% elseif etape.ID > id_type_etape_actuelle %}
                        etape-future
                    {% else %}
                        etape-actuelle
                    {% endif %}
                        ">
                            <div class="cercle center-block"><img class="img-responsive" src="https://iutv.univ-paris13.fr/wp-content/uploads/2015/11/IUT-villetaneuse.png" alt=""/></div>
                            <p>{{ etape.NomEtape }}</p>
                            {% if etape.ID < id_type_etape_actuelle %}
                                <p>Date de début :</p>
                                <p>{{ etapes_dossier[loop.index0].DateDebut|date('Y-m-d') }}</p>
                                <p>Date de validation :</p>
                                <p>{{ etapes_dossier[loop.index0].DateValidation|date('d-m-Y') }}</p>
                                <p>Validé par :
                                    {% if etapes_dossier[loop.index0].ValidateurCfa == null %}
                                        {{ etapes_dossier[loop.index0].ValidateurIut.prenom ~ ' ' ~ etapes_dossier[loop.index0].ValidateurIut.nom }}
                                    {% else %}
                                        {{ etapes_dossier[loop.index0].ValidateurCfa.prenom ~ ' ' ~ etapes_dossier[loop.index0].ValidateurCfa.nom }}
                                    {% endif %}
                                </p>
                            {% endif %}
                            {% if etape.ID == id_type_etape_actuelle %}
                                <p>Date de début :</p>
                                <p>{{ etapes_dossier[loop.index0].DateDebut|date('Y-m-d') }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}