{% extends 'base.html.twig' %}

{% block title %}Page de suivi{% endblock %}

{% block page_title %}Suivi du dossier de {{ apprenti.compte.prenom ~ ' '~ apprenti.compte.nom }}{% endblock %}

{% block body %}

    <div class="modal fade" id="pop" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Titre</h4>
                </div>
                <div class="modal-body">
                    <p class="modal-text">Message</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancelAction" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary doAction">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 contenu">
                <p id="id_dossier" hidden>{{ apprenti.DossierApprenti.id }}</p>
                {% set index_etape = 0 %}
                {% set nb_colonnes = 3 %}

                {% set reste = nb_type_etapes%3 %}
                {% set div_entiere = (nb_type_etapes/3)|round(0, 'floor') %}

                {% for num_colonne in 1..nb_colonnes %}
                    {% set count = div_entiere %}
                    {% if num_colonne <= reste %}
                        {% set count = count + 1 %}
                    {% endif %}
                    <div class="col-lg-4 {% if num_colonne < 3 %}ligne{% endif %}">
                        {% for i in 1..count %}
                            {% set etape = liste_etapes[index_etape] %}
                            {% set class_type = 'col-lg-12 etape' %}
                            {% if etape.positionEtape < position_etape_actuelle %}
                                {% set class_type = class_type ~ ' etape-valide' %}
                            {% elseif etape.positionEtape > position_etape_actuelle %}
                                {% set class_type = class_type ~ ' etape-future' %}
                            {% else %}
                                {% set class_type = class_type ~ ' etape-actuelle' %}
                            {% endif %}
                            {% if is_granted(etape.typeValidateur) or is_granted('ROLE_IUT') %}
                                {% set class_type = class_type ~ ' validable' %}
                            {% endif %}
                            <div class="{{ class_type }}" id="{{ etape.id }}">
                                <div class="cercle center-block col-lg-4"><img class="img-responsive" src="/build/img/Icone_{{ etape.typeIcone }}.png" alt=""/></div>
                                <p class="col-lg-8">{{ etape.NomEtape }}</p>
                            </div>
                            {% set index_etape = index_etape + 1 %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 text-center contenu">
                <a class="btn btn-default" href="{{ path('profil', {"id":apprenti.compte.id}) }}">Profil</a>
                <a class="btn btn-default" href="{{ path('historique', {"id":apprenti.compte.id}) }}">Historique</a>
            </div>
        </div>
    </div>
{% endblock %}